.sidebar-container{
    width: 20vw;
    height: 80vh;
    border-radius: 11px;
    box-shadow: 3px 4px 33px 5px rgba(0, 0, 0, 0.25);
    margin: 0 1.5vw 0 0vw;
}
.sidebar-container h1{
    color: #11314C;
    font-family: Roboto;
    font-size: 3vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 3vh 0 0 3vw;
}
.user-list-container{
    height: 60vh;
    width: 10vw;
    margin: 3vh 0 0 3vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.sidebar-label{
    border-radius: 10px;
    min-height: 5vh;
    width: 10vw;
    border: none;
    background-color: #73A9FA;
    color: #FFF;
    font-size: 2vh;
    font-weight: 800;
    margin: 0 0 1.5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .sidebar-container{
        width: 90vw;
        height: 20vh;
        border-radius: 11px;
        box-shadow: 3px 4px 33px 5px rgba(0, 0, 0, 0.25);
        margin: 2.5vh 0 0 0vw;
    }
    .user-list-container{
        height: 5vh;
        width: 80vw;
        margin: 3vh 0 0 3vw;
        overflow: auto;
        display: flex;
        flex-direction: row;
    }
    .sidebar-label{
        border-radius: 10px;
        height: 5vh;
        min-width: 30vw;
        border: none;
        background-color: #73A9FA;
        color: #FFF;
        font-size: 2vh;
        font-weight: 800;
        margin: 0 0 0 1.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}